.options-container {
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}

.options-heading {
    margin-bottom: 15px;
    color: #000000;
    font-family: "Amiri Quran";
    font-size: 22px;
    font-weight: bold;
}

.option-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: "Amiri Quran";
    font-size: 22px;
    line-height: 28px;  /* Ajustează înălțimea liniei pentru a se potrivi cu dimensiunea bulinei */
    user-select: none;
    color: #000000;
}

.option-label input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 72%;  /* Centrat vertical relativ la înălțimea liniei */
    left: 3px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    transition: all 0.3s ease;
    transform: translateY(-50%);  /* Ajustează poziția verticală pentru a centra */
}

.option-label:hover input ~ .checkmark {
    background-color: #ccc;
}

.option-label input:checked ~ .checkmark {
    background-color: #1361cd;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    transform: translate(-50%, -50%);  /* Centrat perfect în mijlocul bulinei */
}

.option-label input:checked ~ .checkmark:after {
    display: block;
}
